form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  background-color: #129299;
  height: 150px;

}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color:whitesmoke;
}

input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.login {
  background-color: #4f005f;
  color: white;
  font-weight: 400;
  font-size: large;
  float: right;
  text-align: center;
  width: 35%;
}
