/* MainPage.module.css */
.main-page {
  display: flex;
  flex-direction: column;
}
.election-title {
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  background-color: #aabdff;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map {
  width: 1000px;
  margin-top: auto;
  margin-bottom: auto;

  margin-left: auto;
  margin-right: auto;
}

.election-title h1 {
  font-family: "Inter";
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.election-type {
  top: 84px;
  left: 1155px;
  width: 312px;
  height: 84px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.right{
  margin-right: 100px;
  margin-left: 50px;
}

.election-type p {
  font-family: "Inter";
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.sidebar {
  top: 180px;
  left: 1155px;
  width: 320px;
  height: 722px;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.election-button {
  top: 925px;
  left: 212px;
  width: 578px;
  height: 45px;
  background-color: #d9d9d9;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.election-button:hover {
  background-color: #ccc;
}

.bottom{
  margin-left: auto;
  margin-right: auto;
}