/* MainPage.module.css */

.election-title {
  position: absolute;
  top: 37px;
  left: 112px;
  width: fit-content;
  padding: 8px 16px;
  background-color: #aabdff;
  border-radius: 8px;
}

.election-title h1 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.election-type {
  position: absolute;
  top: 84px;
  left: 1155px;
  width: 312px;
  height: 84px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.election-type p {
  font-family: "Inter";
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.map {
  position: absolute;
  top: 209px;
  left: 112px;
  width: 1002px;
  height: 693px;
}

.sidebar {
  position: absolute;
  top: 180px;
  left: 1155px;
  width: 320px;
  height: 722px;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.election-button {
  position: absolute;
  top: 925px;
  left: 212px;
  width: 578px;
  height: 45px;
  background-color: #d9d9d9;
  border-radius: 8px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.election-button:hover {
  background-color: #ccc;
}
