.election-title {
  /* election-title */
  position: absolute;
  width: 1002px;
  height: 95px;
  left: 112px;
  top: 37px;
  background: #aabdff;
}

.election-title h1 {
  position: absolute;
  width: 526px;
  height: 44px;
  left: 238px; /* Adjusted left position */
  top: 25px; /* Adjusted top position */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.election-type {
  position: absolute;
  width: 312px;
  height: 84px;
  left: 1155px;
  top: 84px;
  background: #d9d9d9;
}

.election-type p {
  width: 296px;
  height: 84px;
  left: 8px; /* Adjusted left position */
  top: 0; /* Adjusted top position */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.map {
  position: absolute;
  width: 1002px;
  height: 693px;
  left: 112px;
  top: 209px;
}

.sidebar {
  position: absolute;
  width: 320px;
  height: 722px;
  left: 1155px;
  top: 180px;
  background: #d9d9d9;
}

.election-button {
  position: absolute;
  width: 578px;
  height: 45px;
  left: 212px; /* Adjusted left position */
  top: 925px;
  background: #d9d9d9;
}
