.school-list-container {
  margin-top: 16px;
  height: 770px;
  overflow: auto;
}

.box-button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #2f80ed; /* Blue color */
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.box-button:hover {
  background-color: #1f65d3; /* Darker blue color on hover */
}

.box-results {
  margin-left: 16px;
  margin-top: 8px;
  font-family: "Inter";
  font-size: 14px;
  color: white;
  font-weight: 800;
}

.box-results p {
  margin-bottom: 4px;
}

