/* ResulList.module.css */

.results-container {
  margin-top: 16px;
}

.results-container button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #1e525490; /* Blue color */
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;


  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}


.results-container .school-list {
  margin-left: 16px;
  margin-top: 8px;
}



.results-container button:active,
.results-container button:hover {
  outline: 0;
}

.results-container button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.results-container button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .results-container button {
    font-size: 24px;
    min-width: 196px;
  }
}