/* ResulList.module.css */

.results-container {
  margin-top: 16px;
}

.results-container button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #1e525490; /* Blue color */
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.results-container button:hover {
  background-color: #051b3f; /* Darker blue color on hover */
}

.results-container .school-list {
  margin-left: 16px;
  margin-top: 8px;
}
